Thumbs.db
.DS_Store
.gradle
build/
target/
out/
.micronaut/
.idea
*.iml
*.ipr
*.iws
.project
.settings
.classpath
.factorypath
build.gradle
settings.gradle
gradle.properties
gradlew.bat
gradlew
micronaut-cli.yml
gradle/
README.md
